/QL4BIMspatial/bin/Debug/IfcImporter.dll
/QL4BIMspatial/bin/Debug/IfcImporter.pdb
/QL4BIMspatial/bin/Debug/QL4BIMspatial.dll
/QL4BIMspatial/bin/Debug/QL4BIMspatial.pdb
/QL4BIMspatial/obj/Debug/QL4BIMspatial.csprojResolveAssemblyReference.cache
/QL4BIMspatial/obj/Debug/QL4BIMspatial.dll
/QL4BIMspatial/obj/Debug/QL4BIMspatial.pdb
/.vs/QL4BIM/v14/.suo
/IfcImporter/bin/x86/Debug/IfcImporter.dll
/IfcImporter/bin/x86/Debug/IfcImporter.pdb
/IfcImporter/obj/x86/Debug/IfcImporter.dll
/IfcImporter/obj/x86/Debug/IfcImporter.pdb
/QL4BIMinterpreter/bin/Debug/IFC2X3_TC1.exp
/QL4BIMinterpreter/bin/Debug/IFC2X3-Settings.xml
/QL4BIMinterpreter/bin/Debug/IFC4.exp
/QL4BIMinterpreter/bin/Debug/IFC4-Settings.xml
/QL4BIMinterpreter/bin/Debug/IfcImporter.dll
/QL4BIMinterpreter/bin/Debug/IfcImporter.pdb
/QL4BIMinterpreter/bin/Debug/QL4BIMinterpreter.exe
/QL4BIMinterpreter/bin/Debug/QL4BIMinterpreter.pdb
/QL4BIMinterpreter/bin/Debug/QL4BIMspatial.dll
/QL4BIMinterpreter/bin/Debug/QL4BIMspatial.pdb
/QL4BIMinterpreter/ExecutionVisitor.cs
/QL4BIMinterpreter/obj/Debug/QL4BIMinterpreter.csproj.FileListAbsolute.txt
/QL4BIMinterpreter/obj/Debug/QL4BIMinterpreter.csprojResolveAssemblyReference.cache
/QL4BIMinterpreter/obj/Debug/QL4BIMinterpreter.exe
/QL4BIMinterpreter/obj/Debug/QL4BIMinterpreter.pdb
/QL4BIMspatial/bin/Debug/IfcImporter.dll
/QL4BIMspatial/bin/Debug/IfcImporter.pdb
/QL4BIMspatial/bin/Debug/QL4BIMspatial.dll
/QL4BIMspatial/bin/Debug/QL4BIMspatial.pdb
/QL4BIMspatial/obj/Debug/QL4BIMspatial.csprojResolveAssemblyReference.cache
/QL4BIMspatial/obj/Debug/QL4BIMspatial.dll
/QL4BIMspatial/obj/Debug/QL4BIMspatial.pdb
/.vs/QL4BIM/v14/.suo
/QL4BIMinterpreter/bin
