/QL4BIMprimitives/bin
/QL4BIMprimitives/obj
/IfcImporter/bin
/IfcImporter/obj
/QL4BIMinterpreter/bin
/QL4BIMinterpreter/obj
/QL4BIMspatial/bin
/QL4BIMspatial/obj
/QL4BIMindexing/bin
/QL4BIMindexing/obj
/.vs/QL4BIM/v14/.suo

